:root {
  /* nord color scheme */
  --layer0: #2e3440;
  --layer1: #3b4252;
  --layer2: #434c5e;
  --layer3: #4c566a;
  --primary2: #d8dee9;
  --primary1: #e5e9f0;
  --primary #eceff4;
  --accent1: #8fbcbb;
  --accent: #88c0d0;
  --accent2: #81a1c1;
  --accent3: #5e81ac;
  --error: #bf616a;
  --danger: #d08770;
  --warning: #ebcb8b;
  --success: #a3be8c;
  --neutral: #b48ead;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--primary);
  background: var(--layer0);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
